<div class="row">
  <div class="col-sm-3">
    <h2>Announcements</h2>
    <div class="d-inline bg-danger">Put some texts here</div>
    <div class="form-group">
      <div>
        <label for="Go to date: "></label>
        <input type='date' class="form-control" />
      </div>
    </div>
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#">Previous</a>
      </li>
      <li class="page-item active">
        <span class="page-link">Today<span class="sr-only">(current)</span></span>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </div>

  <div class="col-sm-9">
    <div class="table-responsive">
      <table class="table table-condensed timetable">
        <% columns = 0 %>
        <tr>
          <th class="last-row-in-day"></th>
          <% ('08:00'.to_time.to_i..'21:00'.to_time.to_i).step(1.hour).each do |time| %>
            <th colspan="2" class="last-row-in-day"><%= Time.at(time).strftime('%H%M') %></th>
            <% columns += 1 %>
          <% end %>
          <th class="last-time last-row-in-day">2200</th>
        </tr>

        <% %w(Mon Tue Wed Thu Fri Sat Sun).each do |day| %>
          <% 2.times do |i| %>
            <tr <%= 'class=last-row-in-day' if i == 1 %>>
              <% if i == 0 %>
                <td class="duty-day" rowspan="2">
                  <%= day.upcase.split('').join('<br>').html_safe %>
                </td>
                <td class="duty-place">YIH</td>
                <% (2 * columns).times do %>
                  <td class="duty-name first-place">Indra</td>
                <% end %>
              <% else %>
                <td class="duty-place">AS8</td>
                <% (2 * columns).times do %>
                  <td class="duty-name second-place">Indra</td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="col-sm-4 bg-faded text-muted">
        Copyright © 2016-2017 NUSSU CommIT Technical Cell
      </div>
    </div>
  </footer>
</div>
