<html lang="en">
<head>
  <title>NUSSU commIT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="widspan=device-widspan, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">NUSSU commIT</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="#"></a>Admin</li>
        <li><a href="#">Grab Duty</a></li>
        <li><a href="#">Problem Report</a></li>
        <li><a href="#">Timesheet</a></li>
        <li><a href="#">Members</a></li>
        <li><a href="#">Guide</a></li>
        <li><a href="#">EOD</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-user"> current_user_name</span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">My Profile</a></li>
            <li><a href="#">Schedule Availability</a></li>
            <li><a href="#">Money Tracking</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2>Announcements</h2><br>
      <div class="d-inline bg-danger">Put some texts here</div>
      <br>
      <div class="form-group">
        <div>
          <label for="Go to date: "></label>
          <input type='date' class="form-control" />
        </div>
      </div>
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#">Previous</a>
        </li>
        <li class="page-item active">
          <span class="page-link">Today<span class="sr-only">(current)</span></span>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </div>

  <div class="col-sm-1"></div>
    <div id="calendar_generator" class="col-sm-8">
      <br>
        <div class="table_time">
            <% ('08:00'.to_time.to_i .. '22:00'.to_time.to_i).step(1.hour).each do |time| %>
              <% if time == '08:00'%>
                <div class="table_time_element"><%= Time.at(time).strftime('%H%M') %></div>
              <% else %>
                <div class="table_time_element"><%= Time.at(time).strftime('%H%M') %></div>
              <% end %>
            <% end %>
        </div>
        <div class="timetable">
          <% %w(Mon Tue Wed Thur Fri Sat Sun).each do |day| %>


              <div class="table_body">
                <div class="table_day_rows">
                  <% (1..2).each do |i| %>
                    <% if i == 1 %>
                      <div class="bg-warning table_day_cell"><%= day %></div>
                      <span class="bg-warning table_place1">AS7</span>
                      <% (1..15).each do |i| %>
                        <span class="table_time"></span>
                        <span class="table_time"></span>
                      <% end %>
                      <br>
                    <% else %>
                      <div class="bg-warning table_day_cell"></div>
                      <span class="bg-warning table_place2">YIH</span>
                      <% (1..15).each do |i| %>
                        <span class="table_time"></span>
                        <span class="table_time"></span>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
            </div>
          <% end %>
        </div>








</body>
<footer>
  <div class="container">
    <div class="col-sm-4 bg-faded text-muted">
      <font size="1">Copyright © 2016-2017 NUSSU CommIT Technical Cell</font>
    </div>
    <div class="col-sm-8"></div>
  </div>
</footer>
</html>
