.timetable {
  min-width: 2048px;
  table-layout: fixed;

  th,
  td {
    border: 0 !important;
    text-align: center;

    &.last-time {
      text-align: right;
    }
  }

  td {
    vertical-align: middle !important;
  }

  .duty-day {
    border-bottom: 1px solid #999 !important;
    line-height: 1.2;
  }
}

.first-place {
  background-color: #ffeeee;
}

.second-place {
  background-color: #eeffee;
}

.last-row-in-day.last-row-in-day {
  border-bottom: 1px solid #999 !important;
}
